<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- AngularJS Material Dependencies -->
  <link rel="stylesheet" href="css/angular-material.min.css">
  <script src="js/angular.min.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/angular-aria.min.js"></script>
  <script src="js/angular-messages.min.js"></script>

  <!-- AngularJS Material Javascript now available via Google CDN; version 1.1.10 used here -->
  <script src="js/angular-material.min.js"></script>

  <!-- Leaflet Scripts for Mapping -->
  <link rel="stylesheet" href="css/leaflet.css">
  <script src="js/leaflet.js"></script>
  <script src="js/angular-leaflet-directive.min.js"></script>

  <!-- application js -->
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/index.js"></script>
</head>
<body ng-app="picasi" ng-cloak layout="column" flex>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 flex md-truncate>Picasi</h2>
      <md-button class="md-icon-button" ng-click="mapIsOpen = !mapIsOpen">
        <md-icon md-font-set="material-icons">map</md-icon>
      </md-button>

      <md-button class="md-icon-button" ng-click="filterIsOpen = !filterIsOpen">
        <md-icon md-font-set="material-icons">search</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <div class="container" layout="row">
    <div layout="column" flex>
      <md-card ng-show="mapIsOpen">
        <md-card-content>
          <div class="md-media-xl card-media"></div>
          <leaflet height="200px" width="100%"></leaflet>
        </md-card-content>
      </md-card>

      <image-grid flex></image-grid>
    </div>

    <md-sidenav
        class="md-sidenav-right"
        md-component-id="right"
        md-is-open="filterIsOpen"
        md-whiteframe="4">

      <filter-setup></filter-setup>
    </md-sidenav>
  </div>

</body>
</html>
